/temp/

# Python caches
__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class

# macOS and JetBrains IDE files
.DS_Store
.idea/
/.venv/
/demos/toys/ddpm/
/demos/toys/temp/
/research_logs/
/research_logs/
